*{
  box-sizing: border-box;
}

.container{
  /* border: 1px solid red; */
  /* height: 50px; */
  max-width: 1280px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;

}

.navbar-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  /* background-color: grey; */
}

.navbar__span{
  margin-left: 23px;
  margin-right: 23px;
  color: white;
}

.navbar__urls{
  text-shadow: 6px 12px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}

.navbar__url {
  color: white;
  text-decoration: none;
  position: relative;
}

.navbar__url:hover {
  color: #ffc800;
}

.navbar__url:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #ffc800;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar__url:hover:after {
  width: 100%;
}

.navbar__url:focus:after {
  width: 100%;
}

.header{
  border: 1px solid black;
  height: 910px;
  background-image: url(../images/backGround.png);
  background-size: 100% 100%;
}

.header-block{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 100px;
}

.header-info_subtitle{
  color: #ffd24d;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}

.header-info_title{
  color: #ffffff;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}

.header-info_paragraph{
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.08px;
}

.header-info_button{
  width: 198px;
  height: 53px;
  box-shadow: 8px 9px 8px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  background-image: linear-gradient( #ffd24d 0%, rgb(138, 103, 0) 100%);
  margin-top: 50px;
  margin-bottom: 30px;
  border: 0;
}

.header-info_social{
  margin-right: 25px;
}

.main{
  background-color: #000;
  color: #fff;
}
/*блок преимуществ*/
.advantages{
  height: 890px;
  padding-top: 150px;
}
.block_title{ /*заголовки всех блоков*/
  font-size: 45px;
  margin-bottom: 100px;
}
.advantage{
  display: flex;
  flex-wrap: wrap;
}
.advantage_block{
  display: flex;
  width: 600px;
  margin-bottom: 100px;
}
.advantage_image{
  margin-right: 40px;
}
.advantage_image_user{ /*изображение Уже, поэтому добавили внутренние отступы*/
  padding-left: 12px;
  padding-right: 12px;
}
.advantage_block_title{
  font-size: 29px;
  font-weight: 700;
  margin-bottom: 15px;
}
.advantage_block_text{
  font-size: 24px;
  font-weight: 400;
}
/*блок работы*/
.works{
  height: 900px;
  background-image: url(../images/backGround2.png);
  background-size: 100% 100%;
}
.container_works{
  padding-top: 150px;
}

/*блок обратной связи*/
.container_call{
  padding-top: 150px;
}
.call{
  height: 890px;
  display: flex;
  flex-wrap: wrap;
}
.call_form{
  padding: 80px;
  background: url(../images/backGround2.png);
}