*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1200px;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

.navbar__span{
  margin-left: 23px;
  margin-right: 23px;
  color: white;
}

.navbar__urls{
  text-shadow: 6px 12px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.navbar__url {
  color: white;
  text-decoration: none;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.navbar__url:hover {
  color: #ffc800;
}

.navbar__url:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #ffc800;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.navbar__url:hover:after {
  width: 100%;
}

.navbar__url:focus:after {
  width: 100%;
}

.header{
  border: 1px solid black;
  height: 910px;
  background: #222 url(../images/backGround.png);
  background-size: 100% 100%;
}

.header-block{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 100px;
}

.header-info_subtitle{
  color: #ffd24d;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.header-info_title{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}

.header-info_paragraph{
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.08px;
  font-family: 'Roboto', sans-serif;
}

.header-info_circle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*кнопка СВЯЗАТЬСЯ */
.header-info_button{
  width: 198px;
  height: 53px;
  box-shadow: 8px 9px 8px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  background-image: linear-gradient( #ffd24d 0%, rgb(138, 103, 0) 100%);
  margin-top: 50px;
  margin-bottom: 30px;
  border: 0;
  font-size: large;
}
.header-info_button:hover{
  background-image: linear-gradient( #ffebaf 0%, rgb(173, 145, 58) 100%);
}

/*кнопки соц. сетей */
.header-info_social{
  margin-right: 25px;
}
.scale {
  transition: 0.5s; /* Время эффекта */
}
.scale:hover {
  transform: scale(1.5); /* Увеличиваем масштаб */
}

.main{
  background-color: #000;
  color: #fff;
}
/*блок преимуществ*/
.advantages{
  height: 760px;
  padding-top: 150px;
}
.block_title{ /*заголовки всех блоков*/
  font-size: 45px;
  margin-bottom: 90px;
  font-family: 'Roboto', sans-serif;
}
.advantage{
  display: flex;
  flex-wrap: wrap;
}
.advantage_block{
  display: flex;
  width: 560px;
  margin-bottom: 100px;
}
.advantage_image{
  margin-right: 40px;
}
.advantage_image_user{ /*изображение Уже, поэтому добавили внутренние отступы*/
  padding-left: 12px;
  padding-right: 12px;
}
.advantage_block_title{
  font-size: 29px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}
.advantage_block_text{
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
/*блок работы*/
.works{
  height: 900px;
  background-image: url(../images/backGround2.png);
  background-size: 100% 100%;
}
.container_works{
  padding-top: 150px;
}
.works_title{
  margin-bottom: 00px;
}
.none{
  text-decoration: underline;
}

/*блок обратной связи*/
.container_call{
  padding-top: 150px;
  height: 900px;
}
.call{
  /*height: 890px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.call_text{
  font-size: 24px;
  font-weight: 400;
}
.call_form{
  padding: 60px;
  background: url(../images/backGround2.png);
  width: 520px;
  height: 500px;
}
a{
  text-decoration: none;
  color: #fff;
}
.call_text_phone{
  margin-top: 65px;
  margin-bottom: 40px;
}
.call_text_mail{
  margin-bottom: 35px;
}
.call_text_socials_middle{
  margin-left: 25px;
  margin-right: 25px;
}
.call_form_input{
  width: 393px;
  height: 50px;
  border-radius: 7px;
  font-size: 21px;
  font-weight: 400;
  font-style: italic;
  padding-left: 20px;
  margin-bottom: 20px;
}
.call_form_input_height{
  height: 100px;
  padding-top: 10px;
  resize: none;
}
.call_form_button{
  width: 393px;
  height: 53px;
  box-shadow: 8px 9px 8px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  background-image: linear-gradient( #ffd24d 0%, rgb(138, 103, 0) 100%);
  border: 0;
  margin-top: 15px;
}
.call_form_button:hover{
  background-image: linear-gradient( #ffebaf 0%, rgb(173, 145, 58) 100%);
}

/*подвал*/
.footer{
  height: 180px;
  background-image: url(../images/backGround2.png);
  background-size: 100% 100%;
  position: relative;
}
.footer_text{
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 45%;
  top: 50%;
}

.slider__item_testimonial{
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1270px) {
.slider__item_testimonial {
  margin-left: 30px;
}
.works_text {
  margin-right: 20px;
}
}

@media (max-width: 1210px) {
  .advantage_block {
    width: 500px;
  }
}

@media (max-width: 1210px) {
  .works_text{
    font-size: 15px;
  }
}

@media (max-width: 1136px) {
  .works_header {
    font-size: 25px;
  }
  .works_h {
    font-size: 22px;
  }
}

@media (max-width: 1120px) {
  .works_header{
    margin-bottom: 45px;
  }
}

@media (max-width: 1102px) {
  .slider__item_testimonial {
    margin-left: 10px;
  }
}
@media (min-width: 1207px) {
  .works_header {
    width: 427px;
  }
}

@media (max-width: 1078px) {
  .slider__item_inner {
    flex-direction: column-reverse;
  }
  .slider__item {
    height: 830px;
  }
  .works_item {
    width: 400px;
  }
.container_works {
  padding-top: 85px;
  }
.works {
  height: 1010px;
  }
.advantage_block {
    width: 475px;
}
}
@media (max-width: 1085px) {
  .call_form {
    padding: 25px;
    width: 440px;
    height: 450px;
}
.block_title {
  font-size: 45px;
  margin-bottom: 65px;
}
.container_call {
  padding-top: 92px;
}
.works {
  height: 1060px;
}
.container_call {
  height: 750px;
}
}

@media (max-width: 1021px) {
.advantage_image {
    width: 60px;
    height: 60px;
}
.advantage_block {
  width: 445px;
}
.advantages {
  height: 670px;
}
}

@media (max-width: 957px) {
  .advantage_block {
    width: 410px;
}
.advantage_image {
  margin-right: 25px;
}
.navbar__span {
  margin-left: 10px;
  margin-right: 10px;
}
}

@media (max-width: 1000px) {
.call_form {
    padding: 25px;
    width: 355px;
    height: 445px;
}
.call_form_input {
  width: 300px;
}
.call_form_button {
  width: 300px;
}
}

@media (max-width: 908px) {
  .works_item {
    width: 360px;
}
}

@media (max-width: 882px) {
  .advantage_block {
    width: 375px;
}
.advantage_block_text {
  font-size: 19px;
}
.advantage_block_title {
  font-size: 27px;
}
}

@media (max-width: 818px) {
.works_item_image {
    margin-right: 11px;
}
.works_item {
  width: 340px;
}
.advantage_block {
  width: 358px;
}
.advantage_block {
  margin-bottom: 70px;
}
.header-info_paragraph {
  font-size: 22px;
}
.navbar__menu{
  display: none;
}
}

@media (max-width: 910px) {
.call_text {
    font-size: 19px;
}
.call_text_phone {
  margin-top: 50px;
  margin-bottom: 35px;
}
}

@media (max-width: 773px) {
  .slider__item_testimonial {
    flex: none;
}
.works_item {
  width: 333px;
}
.advantage_block {
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
.block_title {
  font-size: 45px;
  margin-bottom: 60px;
}
.advantages {
  height: 640px;
}
.advantages {
  padding-top: 35px;
}
.block_title {
  margin-bottom: 40px;
}
}

.g-recaptcha, .g-recaptcha div{
  overflow: hidden;
  max-width: 100%;
  }
  .g-recaptcha iframe, body > div[style]:last-of-type
  { transform: scale(0.75);
  transform-origin: left top;
  }

@media (max-width: 810px){
.rc-anchor-light .rc-anchor-normal {
  width: 230px;
}

.slider__item {
    height: 972px;
}
.works_item {
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
}
.slider__item {
  height: 906px;
}
.works {
  height: 1111px;
}
.header-info_paragraph {
  font-size: 20px;
}
.call_form_input {
  width: 230px;
  height: 40px;
}
.call_form_input_height {
  height: 102px;
}
.call_form_button {
  width: 230px;
  margin-top: 0px;
}
.call_form {
  padding: 25px;
  width: 280px;
  height: 410px;
}
.container_call {
  height: 640px;
}
}

@media (max-width: 699px){
  .slider__item_photo{
    width: 100%;
  }
.header-info_paragraph {
    font-size: 19px;
}
}

@media(min-width: 681px){
  .header-info_circle{
    display: none;
  }
}

@media (max-width: 715px){
.header-photo{
  display: none;
}
.call_text {
  font-size: 19px;
  margin-left: auto;
  margin-right: auto;
}
.container_call {
  padding-top: 55px;
  height: 950px;
}
.call_form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding: 30px;
  width: 455px;
  height: 480px;
}
.call_form_input {
  width: 393px;
  height: 50px;
}
.call_form_button {
  width: 393px;
}
.call_form_input_height {
  height: 140px;
}
.footer_text {
  left: 39%;
  top: 45%;
}
}

@media (max-width: 475px){
.call_form {
  padding: 30px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.call_form_input {
  width: 99%;
}
.call_form_button {
  width: 99%;
}
.works_title {
  margin-bottom: -25px;
}
}

@media (max-width: 380px){
.works {
  height: 1050px;
}
.advantages {
  height: 800px;
}
.header-block{
  margin-top: 0;
}
.container_works {
  padding-top: 48px;
}
.footer_text {
  left: 26%;
}
}

/*ошибка заполнения форм */
#user_name-error, #user_phone-error, #user_message-error {
  color: red;
    top: -53px;
    position: relative;
    left: 230px;
    font-weight: bold;
}

/*кнопка наверх*/
.scrollTop{
	background:url('../images/top.png') 0 0 no-repeat;
	width:128px; height:128px;
  bottom:10px; left:3%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.scrollTop:hover{ background-position:0 10px; }